<html>
<head>
</head>
<body>
<div class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top"><!-- Navigation start -->

<nav class="navbar navbar-expand-lg bg-light container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <div class="container-fluid shadow-sm rounded container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <a class="navbar-brand" th:href="@{/}">Weekmenu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/recipe/submit}">Add new recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/getrecipes}">Recipes</a>
        </li>
	</ul></div></div>     
</nav>


</div> 




<!-- Error Block -->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="x-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
	</symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div th:if="${infoDto}">
<div th:if="${infoDto.type == 'Error'}" 	class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert"><svg th:if="${infoDto.type == 'Error'}" 	class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">	<use xlink:href="#exclamation-triangle-fill"/></svg><div th:text="${infoDto.body}">		</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
<div th:if="${infoDto.type == 'Success'}" 	class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert"><svg th:if="${infoDto.type == 'Success'}" 	class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">	<use xlink:href="#check-circle-fill"/></svg>		<div th:text="${infoDto.body}">	</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
<div th:if="${infoDto.type == 'Warning'}" 	class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert"><svg th:if="${infoDto.type == 'Warning'}" 	class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">	<use xlink:href="#exclamation-triangle-fill"/></svg><div th:text="${infoDto.body}">	</div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>

</div>

</body>

</html>