<html>
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script></head>
<body>

	<div class="container">
	
	<div th:replace="header"></div>
	
	<h2>Add new recipe.</h2>
	<div th:if="${infoDto.type == 'Error'}" class="alert alert-danger" role="alert" th:text="${infoDto.body}">Error</div>
	<div th:if="${infoDto.type == 'Succes'}" class="alert alert-success" role="alert" th:text="${infoDto.body}">Succes</div>
	<div th:if="${infoDto.type == 'Duplicate'}" class="alert alert-success" role="alert" th:text="${infoDto.body}">Succes</div>
	
	<form method="post" action="" id="frmNewRecipe">
	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	<div class="mb-3">
	  <label for="recipeName" class="form-label">Recipe name:</label>
	  <input type="text" class="form-control" th:field="${recipeDto.recipeName}" placeholder="stoofvlees">
	  <div th:if="${#fields.hasErrors('recipeDto.recipeName')}">Invalid recipe name</div>
	</div>
	<div class="mb-3">
	  <label for="shortDescription" class="form-label">Short Description (heading)</label>
	  <textarea class="form-control" th:field="${recipeDto.shortDescription}"rows="2"></textarea>
	</div>
	<div class="mb-3">
	  <label for="description" class="form-label">Description</label>
	  <textarea class="form-control" th:field="${recipeDto.description}"rows="5"></textarea>
	</div>
	<div class="form-check">
  		<input class="form-check-input" type="checkbox" value="" th:field="${recipeDto.vega}">
  		<label class="form-check-label" for="vega">
    	Vegetarian
  		</label>
	</div>
	<div class="form-check">
  		<input class="form-check-input" type="checkbox" value="" th:field="${recipeDto.workdayOk}">
  		<label class="form-check-label" for="workdayOk">
    	Workday Ok
  		</label>
	</div>
	<div class="form-check">
  		<input class="form-check-input" type="checkbox" th:field="${recipeDto.active}"/>
  		<label class="form-check-label" for="active">
    	Active
  		</label>
	</div>
	<div class="mb-3">
		<label for="healthScore" class="form-label">Health Score</label>
		<input type="range" class="form-range" min="0" max="5" step="1" th:field="${recipeDto.healthScore}">
	</div>
	<div class="mb-3">
		<label for="complexity" class="form-label">Complexity</label>
		<input type="range" class="form-range" min="0" max="5" step="1" th:field="${recipeDto.complexity}">
	</div>
	<div class="mb-3">
	  <label for="externalUrl" class="form-label">Link:</label>
	  <input type="url" class="form-control" th:field="${recipeDto.externalUrl}" placeholder="www.jemaja.nl">
	  <div th:if="${#fields.hasErrors('recipeDto.externalUrl')}">Invalid link</div>
	</div>
	<input type="submit">
	<input type="hidden" th:field="${recipeDto.update}"> <!--  Hidden field holding the value for updates -->
	<input type="hidden" th:field="${recipeDto.recipeId}"> <!--  Hidden field holding the value for updates -->
	</form>
	
	
	

</div>


</body>


</html>