<html>
<head>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
	crossorigin="anonymous"></script>
<div class="container px-4 text-center">

<div class="p-3"><!-- Navigation start -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Weekmenu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="recipe/submit">Add new recipe</a>
        </li>
	</ul></div></div>      
</nav>


</div><!-- Navigation end -->
<!-- Error Block -->
<div th:if="${infoDto.type == 'Error'}" class="alert alert-danger" role="alert" th:text="${infoDto.body}">Error</div>
<!-- Start block for a day -->
<div class="row align-items-center" th:each="dayRecipeDto: ${dayRecipeDtos}">
<div class="col-md-2 gy-1"><div class="p-1 " th:text="${dayRecipeDto.date}">24-07-2018</div></div>
<div class="col-md-8 gy-1"><div class="p-1 "th:text="${dayRecipeDto.recipeName}">Recipe goes here</div></div>
<div class="col-md-2 gy-1"><div class="p-1">
	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="true">
	    Options
	  </button>
	  <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="#">Accept suggestion</a></li>
	    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal1">Choose other recipe</a></li>
	    <li><a class="dropdown-item" href="#">Suggest other recipe</a></li>
	    <li><hr class="dropdown-divider"></li>
	    <li><a class="dropdown-item" href="#">Modify recipe</a></li>
	  </ul>
	</div>
</div>
</div>
</div>
<!-- End block for a day -->

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose other recipe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Here we need to load the recipe selector form
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Accept</button>
      </div>
    </div>
  </div>
</div>



<!--div class="fixed-bottom">-->
<!--  <div class="fixed-bottom">Copyright &copy 2022 Yannick Tollenaere. <br>This application is licensed under the <a href="https://raw.githubusercontent.com/JeMaJa/weekmenu/main/LICENSE.md">MIT License</a><br></div>
<!-- </div>-->

</div>
<div class="container fixed-bottom">Copyright &copy 2022 Yannick Tollenaere. <br>This application is licensed under the <a href="https://raw.githubusercontent.com/JeMaJa/weekmenu/main/LICENSE.md">MIT License</a><br></div>



</body>



</html>