<html>
<head>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
		crossorigin="anonymous"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div th:replace="header"></div>	
	<div class="container px-4 text-center">
		

		<!-- Date navigators -->

			<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
			<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
				<form method="get" id="frmDateRange">
					
					<input type="hidden" name="f" id="f">
					<input type="hidden" name="t" id="t">

				</form>
				<div class="input-group input-group-sm mb-3">
				<span class="input-group-text" id="inputGroup-sizing-sm">Date range:</span>
				<input type="text" name="daterange" value="01/01/2018 - 01/15/2018" class="form-control"/>
				</div>
		<!-- Start block for a day -->
		<div class="row align-items-center"
			th:each="dayRecipeDto: ${dayRecipeDtos}">
			<div class="col-md-2 gy-1">
				<div class="p-1 " th:text="${dayRecipeDto.date}">24-07-2018</div>
			</div>
			<div class="col-md-8 gy-1">

				<i class="p-1 " th:text="${dayRecipeDto.recipeName}"
					th:if="${dayRecipeDto.status == 1}">Recipe goes here</i> <b
					class="p-1 " th:text="${dayRecipeDto.recipeName}"
					th:if="${dayRecipeDto.status == 2}">Recipe goes here</b>

			</div>
			<div class="col-md-2 gy-1">
				<div class="p-1">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle btn-sm"
							type="button" data-bs-toggle="dropdown" aria-expanded="true">
							Options</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Accept suggestion</a></li>
							<li><a class="dropdown-item" href="#" data-bs-toggle="modal"
								data-bs-target="#modal1" th:data-whatever="${dayRecipeDto.date}">Choose
									other recipe</a></li>
							<li><a class="dropdown-item" href="#">Suggest other
									recipe</a></li>

							<li><a class="dropdown-item" id="modal2button" href="#"
								data-bs-toggle="modal" data-bs-target="#modal2"
								th:data-id="${dayRecipeDto.recipeId}">Show recipe</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End block for a day -->

		<!-- Modal -->
		<div class="modal fade" id="modal1" tabindex="-1"
			aria-labelledby="modal1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="ModalLabel">Choose other recipe</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="container-sm">
							<form method="post" id="modalform" action="/updatedayrecipe">
								<div class="mydate row-sm gy-1">
									Date: <input type="date" class="form-control" id="date"
										name="date">
								</div>
								<div class="row-sm gy-1">
									<select class="form-control" id="recipeId" name="recipeId">
										<option value=0>Select another recipe</option>
										<option th:each="recipeDto: ${recipeDtos}"
											th:value="${recipeDto.recipeId}"
											th:text="${recipeDto.recipeName }" />
									</select>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="modalAccept">Accept</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Show recipe Modal -->
		<div class="modal fade" id="modal2" tabindex="-1"
			aria-labelledby="modal2" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="Modal2Label"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="container-sm" id="Modal2body"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="modalAccept">Accept</button>
					</div>
				</div>
			</div>
		</div>

		-->
		<!--div class="fixed-bottom">-->
		<!--  <div class="fixed-bottom">Copyright &copy 2022 Yannick Tollenaere. <br>This application is licensed under the <a href="https://raw.githubusercontent.com/JeMaJa/weekmenu/main/LICENSE.md">MIT License</a><br></div>
<!-- </div>-->
		<p>
			<br>
			<br>
			<br>
		<p>
			<br>
			<br>
			<br>
	</div>
	<div class="container fixed-bottom">
		Copyright &copy 2022 Yannick Tollenaere. <br>This application is
		licensed under the <a
			href="https://raw.githubusercontent.com/JeMaJa/weekmenu/main/LICENSE.md">MIT
			License</a><br>
	</div>

	<script type="text/javascript" src="/js/period.js"></script>

</body>



</html>